<!-- Own Scripts -->
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/jsListeners.js') }}"></script>
<script src="{{ url_for('static', filename='js/classes/resourceState.js') }}"></script>
<script src="{{ url_for('static', filename='js/classes/vueController.js') }}"></script>
<script src="{{ url_for('static', filename='js/classes/crawlingEngine.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>