<div id="main-panel" class="panel" state="show">
    <h1 class="panel-title"> Replay TV </h1>
    <h2 class="panel-subtitle"> Description </h2>
    <hr class="panel-divider">
    <p class="panel-para"> Bienvenue sur l'interface graphique du logiciel Replay TV ! </p>
    <h2 class="panel-subtitle"> Crédits </h2>
    <hr class="panel-divider">
    <p class="panel-para"> Replay TV vous est offert par l'INSA de Rouen et plus particulièrement par l'équipe composées de:</p>
    <ul class="panel-ul authors">
        <li> Yohann CHENU </li>
        <li> Pierre FABER </li>
        <li> Florian HOQUET </li>
        <li> William MOK </li>
    </ul>
    <p class="panel-para"> et supervisé par M. Romain Hérault</p>
</div>